// Footer
footer
    .row
      .col-lg-12
        p.text-center Copyright &copy; multi-players pong 2015

audio#switch(src='audio/switch.mp3')
audio#pipe(src='audio/pipe.mp3')        
audio#powerUp8(src='audio/powerUp8.mp3')
audio#bouncePaddle(src='audio/bouncePaddle.mp3')
audio#bounceWall(src='audio/bounceWall.mp3')
audio#newBall(src='audio/newBall.mp3')
audio#gameOver(src='audio/gameOver.mp3')
audio#victory(src='audio/victory.mp3')

// jQuery, Bootstrap, socket.io
//script(src='js/jquery.js')
//script(src='js/bootstrap.min.js')
//script(src='/socket.io/socket.io.js')
// js client for pong
//script(src='js/client.js')

